[submodule "src/memory_utils"]
	path = src/memory_utils
	url = https://github.com/Wend4r/cpp-memory_utils.git
[submodule "src/logger"]
	path = src/logger
	url = https://github.com/Wend4r/s2u-logger.git
