[submodule "Any Config"]
	path = external/any_config
	url = https://github.com/Wend4r/s2u-any_config.git
[submodule "DynLibUtils"]
	path = external/memory_utils
	url = https://github.com/Wend4r/cpp-memory_utils.git
[submodule "Logger"]
	path = external/logger
	url = https://github.com/Wend4r/s2u-logger.git
[submodule "GameData"]
	path = external/gamedata
	url = https://github.com/Wend4r/s2u-gamedata.git
